@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap");
body {
  max-width: 980px;
  margin: auto;
  line-height: 1.5;
  align-content: center;
  font-family: "Balsamiq Sans", cursive;
}
.photo {
  border-radius: 50%;
  width: 350px;
}

.intro {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding-top: 30px;
  margin-right: 70px;
}

.name h1 {
  font-size: 2.5rem;
}
.contacts {
  padding-top: 50px;
}

a {
  text-decoration: none;
  color: black;
}

.footer {
  display: flex;
  padding-left: 4%;
  padding-right: 7%;
  padding-bottom: 30px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  width: 100px;
  height: 50px;
}
