@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');
body {
    max-width: 980px;
    margin: auto;
    line-height: 1.5;
    align-content: center;
    font-family: 'Balsamiq Sans', cursive;
}
 .photo {
    border-radius: 50%;
    width: 350px;
 }
 .intro {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-top : 30px;
    margin-right: 70px;
 }
 .name {
    padding-top : 100px;
 }
 .contacts {
    padding-top : 80px;
 }
a {
    text-decoration: none;
    color:black;
}